<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>

    <div>

        <div>

            {% if profile %}

                <h1>{{ profile.user.username }}'s Profile</h1>

                <strong>Follower's</strong><br>
                {% for following in profile.follows.all %}

                    {% if following %}

                        <a href="{% url 'profile_id' following.user.id %}">@{{ following }}</a><br>

                    {% endif %}

                {% empty %}

                    <h2>No Following!</h2>

                {% endfor %}

            {% endif %}

        </div>
        
    </div>
    
</body>
</html>